* {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;

}
.card-img-top {
    height : 200px;
    object-fit: cover;
}
.btn {
    border-radius: 0;
}
.myLink {
    color : #333;
}
.myLink:hover {
    color : #555;
}

.modal-content {
    border-radius: 0;
}

.container-fluid {
    padding : 50px 10%
}

.fas {
    font-size: xxx-large;
}

.bg-dark {
    background: #45050C !important;
}



.my-img {
    height : 50vh;
    object-fit: cover;
}

.delete-img {
    height : 200px;
    object-fit: cover;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns, #my-card-col{
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns, #my-card-col {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}